fastapi>=0.68.0
uvicorn>=0.15.0
python-multipart>=0.0.5
pdfplumber>=0.10.0  
python-dotenv>=1.0.0  
langchain-experimental>=0.0.55
langchain-community>=0.0.28
sentence-transformers>=2.2.2
torch>=2.0.0
qdrant-client>=1.6.0
langchain>=0.1.0
langchain-huggingface>=0.0.2 
langchain-cohere>=0.1.0
cohere>=4.0.0